[submodule "tinyjambu"]
	path = tinyjambu
	url = https://github.com/itzmeanjan/tinyjambu.git
[submodule "elephant"]
	path = elephant
	url = https://github.com/itzmeanjan/elephant.git
[submodule "xoodyak"]
	path = xoodyak
	url = https://github.com/itzmeanjan/xoodyak.git
[submodule "gift-cofb"]
	path = gift-cofb
	url = https://github.com/itzmeanjan/gift-cofb.git
[submodule "romulus"]
	path = romulus
	url = https://github.com/itzmeanjan/romulus.git
[submodule "isap"]
	path = isap
	url = https://github.com/itzmeanjan/isap.git
[submodule "photon-beetle"]
	path = photon-beetle
	url = https://github.com/itzmeanjan/photon-beetle.git
[submodule "sparkle"]
	path = sparkle
	url = https://github.com/itzmeanjan/sparkle.git
[submodule "grain-128aead"]
	path = grain-128aead
	url = https://github.com/itzmeanjan/grain-128aead.git
