.DS_Store
.DS_Store?
._*
.gitmodules
.vscode
.python-version
__pycache__/
liboqs/
liboqs-scripts/output.csv
liboqs-scripts/*.bin
output.csv
autonomic-manager/autonomic-manager.log
autonomic-manager/testfile_*.bin